body {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    
}

#loading p{
    color: white;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.4);
    background-blend-mode: multiply;
}

canvas {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 0 ;
    border-radius: 20px;
}
